* {
  box-sizing: border-box;
}

body {
  margin: 50px 50px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f7f8fc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Main - contains pages sections */
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  /* border: 2px solid black; */
  gap: 20px;
  padding: 20px;
}


/* Page header and links */
header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 40px;
}

header h1 {
  border: 3px solid rgb(255, 255, 255);
  padding: 0px 10px;
  margin-right: 10px;
  color: white;
  transition: transform .8s ease-in-out;
}

header h1:hover {
  transform: rotate(360deg);
  border: 3px solid red;
}

header h2 {
  font-size: 30px;
  color: white;
}

nav a {
  color: white;
  margin: 10px;
  border: 2px solid white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
}

nav a:hover {
  /* opacity: 0.5; */
  border: none;
  border-left: 2px solid greenyellow;
  border-right: 2px solid greenyellow;
}


/* Hero banner and h2 element */
.hero-banner {
  max-width: 100%;
  height: 300px;
  background-size:cover;
  background-image: url(./images/02-hero-bg.jpg);
  margin-left: 20px;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: 55% 55%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}

.hero-banner h2 {
  
  display: inline;
  padding: 10px;
  color: white;
  background-color: black;
  opacity: 0.6;
  
}


/* Page Sections */
.section1 {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.section1 h4 {
  text-decoration: underline;
  margin-bottom: 10px;
  color: rgb(175, 175, 175);
  font-size: 15px;
  font-weight: lighter;
}

.nested-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.nested-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.section2 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.section3 {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

#about {
  display: flex;
  flex-direction: column;
}


/* About section */
.page-section-about {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.page-section-work {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.page-section-contact {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #173459;
  color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}


.page-section-contact img {
  width: 50px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.page-section-contact img:hover {
  border: 2px solid greenyellow;
}

.page-section-contact a {
  text-decoration: none;
}

.profile-pic img {
  width: 100px;
  border-radius: 50%;
}


footer {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

/* media queries */
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }

  .section1 {
    grid-template-columns: 1fr;
  }

  .nested-container {
    grid-template-columns: 1fr 1fr;
  }

}