* {
  box-sizing: border-box;
}

body {
  margin: 50px 50px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: beige;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


/* Main - contains pages sections */
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  /* border: 2px solid black; */
  gap: 20px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 40px;
}

header h1 {
  border: 3px solid rgb(255, 255, 255);
  padding: 0px 10px;
  margin-right: 10px;
  color: white;
  transition: transform .8s ease-in-out;
}

header h1:hover {
  transform: rotate(360deg);
  border: 3px solid red;
}

header h2 {
  font-size: 30px;
  color: white;
}

nav a {
  color: white;
  margin: 10px;
  border: 2px solid white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

}

nav a:hover {
  /* opacity: 0.5; */
  border: 2px solid red;
}

.hero-banner h2 {
  padding: 20px;
}

.page-section-about {
  background-color: rgb(177, 177, 177);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.section1 {
  background-color: blueviolet;
}

.section2 {
  background-color: bisque;
}

footer {
  padding: 20px;
  text-align: center;
}

img {
  width: 100px;
  border-radius: 50%;
}

#about {
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 18px;
}

.section1 {
  padding: 20px;
}






@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}